@import "variables-actividades";
@import "variables-general";

/* ------------------------------------------- PANTALLA MOBILE -------------------------------------------- */                                                   

#parallaxSurf {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: $fotoSurf;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    margin-bottom: 40px;
}

#parallaxSandboard {    
    @extend #parallaxSurf;    
    background-image: $fotoSandboard;    
}

#parallaxYoga {
    @extend #parallaxSurf;
    background-image: $fotoYoga;
}

.parallax__conjuntoBloques {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}

.parallaxSurf__bloque, .parallaxYoga__bloque {    
    @include tamaño(300px, 150px);
    font-family: $fuentePrincipal;    
    border-radius: 25px;
    text-align: center;
    padding: 0px;
    background-color: #ffffff4d;
    transition: 2s;    
}

.parallaxSurf__bloque:hover, .parallaxYoga__bloque:hover {
    background-color: #ffffffd0;
}

.parallax__bloque--titular{
    font-size: map-get($parallaxBloque, title-mobile);    
    font-weight: bold;            
}

.parallax__bloque--texto {
    font-size: map-get($parallaxBloque, text-mobile);    
}

.parallaxSandboard__bloque {
    @extend.parallaxSurf__bloque;
    background-color: #4a4a4a4d;        
}

.parallaxSandboard__bloque:hover {
     background-color: #1a1a1a80
}

.palabraParallax {
    margin-top: 130px;
    font-family: $fuenteTitular;    
    font-size: 50px;
    font-style: italic;
    font-weight: bold;    
    text-align: center;
    color: white;    
}

/* ------------------------------------------- PANTALLA NOTEBOOK ----------------------------------------- */

@media screen and (min-width: $pantalla-laptop) {

.parallaxSurf__bloque, .parallaxSandboard__bloque, .parallaxYoga__bloque {    
    @include tamaño(300px, 150px);    
}

.parallax__bloque--titular {
    font-size: map-get($parallaxBloque, title-laptop);
    margin-top: 0px;
}

.parallax__bloque--texto {
    font-size: map-get($parallaxBloque, text-laptop);
    margin-top: 25px;
}

}