@import "variables-general";

body {    
    background-color: $color-principal;        
}

.tituloGeneral {
    font-family: $fuenteTitular;
    font-size: 40px;
    font-style: italic;    
    margin: 20px 0px;
    text-align: center;
}

/* ------------------------------------------- PANTALLA MOBILE -------------------------------------------- */

                                            /* BARRA NAVEGADORA */                                            
.nav-item {
    text-transform: uppercase;
    font-family: $fuentePrincipal;                     
}

.navbar-nav .nav-item .nav-link {
    color: black;
    font-weight: bold;
}

                                                /* FOOTER */

footer {
    margin-top: 20px;
    background-color: #edd38ecc;
    font-family: $fuentePrincipal;
    font-style: italic;
    width: 100%;
    display: flex;    
    justify-content: space-between;
    align-items: center;    
    border-radius: 15px;
    padding: 10px 15px 10px 20px;            
}

#redesSociales__titular {    
    font-size: 18px;
    margin: 0px;    
}

#copyright {    
    font-weight: bold;        
    margin-left: 5px;            
}


/* ------------------------------------------- PANTALLA TABLET ----------------------------------------- */

@media screen and (min-width: $pantalla-tablet) {    
                                            
                                            /* BARRA NAVEGADORA */
.nav-link {    
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #E6C55A;
    padding: 10px;
    text-decoration: none;
    border-radius: 12px;
    margin: 2px;
}

.navbar-nav {
    margin-left: 200px;    
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: lighter;
}

}

/* ------------------------------------------- PANTALLA NOTEBOOK ----------------------------------------- */

@media screen and (min-width: $pantalla-laptop) {                                          

                                            /* BARRA NAVEGADORA */
.nav-link {
    transition: 1s;
}

.nav-link:hover {
    font-size: 20px;
    color: white;
    background-color: #B89D48;
}

.navbar-nav {
    margin-left: 694px;
}
                                            /* FOOTER */

#redesSociales p a {
    margin-left: 5px;    
}
                                            
}