@import "variables-sobreNosotros";
@import "variables-general";

/* ------------------------------------------- PANTALLA MOBILE -------------------------------------------- */                                                   

#bloqueSobreNosotros {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;    
    grid-row-gap: 5px;
    grid-template-areas: 
    ". bloque1 bloque1"
    "bloque2 bloque2 ."
    ". bloque3 bloque3"
    "bloque4 bloque4 .";
}

#bloqueSobreNosotros__1 {
    grid-area: bloque1;
    text-align: right;    
}

#bloqueSobreNosotros__2 {
    grid-area: bloque2;    
}

#bloqueSobreNosotros__3 {
    grid-area: bloque3;
    text-align: right;    
}

#bloqueSobreNosotros__4 {
    grid-area: bloque4;
}

#bloqueSobreNosotros__1, #bloqueSobreNosotros__2, #bloqueSobreNosotros__3, #bloqueSobreNosotros__4 {    
    font-family: $fuentePrincipal;
    border: $boxBorder;
    border-radius: 20px;
    padding: 15px;
    margin: $topBottom10;
    background-image: $background-bloqueSobreNosotros;

    div {
        font-size: 28px;
        font-weight: 600;    
        margin-bottom: 5px;
    }
    
    div h3 {
        font-style: italic;
    }
}