$parallaxBloque: (
    title-mobile: 14px,
    text-mobile: 12px,
    title-tablet: 16px,
    text-tablet: 14px,
    title-laptop: 19px,
    text-laptop: 16px
);

$fotoSurf: url("https://res.cloudinary.com/webspeedtest/image/upload/c_limit,dpr_1,h_543,q_auto,w_1351/v1651104708/bga8wfh2owgc7t7luahc.jpg");
$fotoSandboard: url("https://res.cloudinary.com/webspeedtest/image/upload/c_limit,dpr_1,h_772,q_auto,w_1351/v1651104707/crf2zryr3rbjccnpjbuw.jpg");
$fotoYoga: url("https://res.cloudinary.com/webspeedtest/image/upload/c_limit,dpr_1,h_844,q_auto,w_1351/v1651104708/yjk9wagccz5bpeor5yf5.jpg");