/* ------------------------------------------- PANTALLA MOBILE -------------------------------------------- */


                                                /* INDEX */

.titular {
    width: 100%;    
    border-radius: 20px;
    background-color: rgba(102, 87, 40, 0.4);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10px;       
}

#titular__titulo {
    font-size: 40px;
    margin: 0px 0px 10px 0px;
    color: #302A13;       
}

#titular__subtitulo {
    font-size: 20px;
    font-style: italic;    
    margin: 10px;
}

.bloque__1 {
    display: grid;
    grid-template-rows: auto auto auto;    
    grid-template-areas: 
    "parrafo"
    "imagen"
    "conocenos";
    grid-row-gap: 20px;    
}

#bloque__1--parrafo {
    grid-area: parrafo;    
}

#bloque__1--parrafo p {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(241, 242, 182, 0.5);
    text-align: center;
}

#bloque__1--imagen {
    grid-area: imagen;
    justify-self: center;
}

#bloque__1--imagen img {    
    /* width: 100%; */ 
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(148, 140, 89);
}

#bloque__1--conocenos {
    grid-area: conocenos;
    justify-self: center;
}

#bloque__1--conocenos a {
    font-family: 'Source Sans Pro', sans-serif;    
    font-size: 25px;
    color: white;    
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #0b55a3;
}                                               

                                                /* CONTACTO */
#bloqueContacto {
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 15px;        
}

#formularioContacto {
    background-color: rgb(237, 211, 142, 0.8);
    margin: 10px 0px;    
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 5px;
}

#boton-enviar {    
    width: 100px;
    float: right;    
}

#mapa {
    width: 300px;
    height: 200px;        
}

#infoContacto {    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: rgb(230, 230, 230, 0.8);
    padding: 10px;
    border-radius: 30px;
    border: 1px solid white;
    justify-self: stretch;
}

#foto-telefono, #foto-email, #foto-ubicacion {    
    opacity: 0.5;
    margin-right: 15px;    
}

#foto-telefono, #foto-ubicacion {
    width: 30px;
    height: 30px;
}

#foto-email {
    width: 30px;
    height: 25px;
}

.infoContacto__bloque {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
}                                                


                                                /* CABAÑAS */

#cabanas__titular {    
    font-size: 30px;
    font-style: italic;    
    margin: 20px 0px;
    text-align: center;
}

#nuestrosBungalows {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;    
}

#petFriendly {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: black;
    border-radius: 15px;
    border: 1px solid #fcd89a;
    padding-top: 10px;
    background-color: #d1a456;
    animation-name: titilaRojo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    text-align: center;
}

@keyframes titilaRojo {
    50% {color: red;}    
    50% {border-color: red;}
}

.titularBungalow {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;        
    text-align: center;
    margin-bottom: 10px;    
}

.bloqueBungalow {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "info"
    "carousel";
    justify-items: center;
    grid-row-gap: 10px;    
}

.bloqueBungalow__info {
    border: 2px solid black;
    border-radius: 20px;
    width: 90%;    
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    box-sizing: border-box;
    grid-area: info;
    justify-self: center;        
}

.carousel {
    grid-area: carousel;
}


.bloqueBungalow__imagen1 img, .bloqueBungalow__imagen2 img, .bloqueBungalow__imagen3 img {
    height: 150px;
    width: 250px;    
}

#quieroReservar {        
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 25px;                
}

#quieroReservar a {                    
    color: white;
    text-decoration: none;
    padding: 15px;    
    border-radius: 10px;
    background-color: #0b55a3;    
}

#quieroReservar a:hover {
    background-color: #1788ff;
}

/* ------------------------------------------- PANTALLA TABLET ----------------------------------------- */

@media screen and (min-width: 768px) {

                                            /* CONTACTO */

#bloqueContacto {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "formulario info";
    grid-column-gap: 10px;
    margin-top: 20px;    
}                                            

#formularioContacto {
    grid-area: formulario;
}

#infoContacto {
    grid-area: info;
    align-self: start;    
}

                                            /* CABAÑAS */

.bloqueBungalow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: ". info ."
    "carousel carousel carousel";
}

.carousel-item img {
    width: 500px;
    height: 400px;
}

}
/* ------------------------------------------- PANTALLA NOTEBOOK ----------------------------------------- */

@media screen and (min-width: 1024px) {

                                                /* INDEX */
.titular {                                                
    width: 100%;    
}

#titular__titulo {
    font-size: 70px;               
}

#titular__subtitulo {
    font-size: 30px;            
}

.bloque__1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "parrafo imagen"
    "conocenos imagen";               
}

#bloque__1--parrafo{    
    grid-area: parrafo;
    justify-self: center;
    align-self: center;    
}

#bloque__1--parrafo p {
    font-weight: bold;    
    font-size: 23px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(241, 242, 182, 0.5);
    width: 600px;
    text-align: left;
}

#bloque__1--conocenos {            
    grid-area: conocenos;
    justify-self: center;
    align-self: center;        
}

#bloque__1--conocenos a {
    font-family: 'Source Sans Pro', sans-serif;    
    font-size: 25px;
    color: white;    
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #0b55a3;
} 

#bloque__1--conocenos a:hover {
    background-color: #1788ff;
}

#bloque__1--imagen {            
    align-self: center;
    grid-area: imagen;            
}

/* #bloque__1--imagen img {
    height: 400px;
    width: 600px;    
    margin: 0px;    
}                                                 */
                                            /* CONTACTO */
#bloqueContacto {
    display: flex;
    flex-direction: row;    
}

#formularioContacto {
    background-color: rgb(237, 211, 142, 0.8);
    margin: 10px 0px;
    width: 900px;
}

#infoContacto {
    margin-top: 60px;
    margin-left: 30px;
    width: 50%;    
    align-self: start;
}

#mapa {
    width: 500px;
    height: 400px;
}

                                            /* CABAÑAS */
.titularBungalow {
    text-align: left;
}

#cabanas__encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloqueBungalow {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "info carousel carousel carousel";
    grid-column-gap: 30px;
}

.carousel-item img {
    width: 500px;
    height: 400px;
}

.bloqueBungalow__info {
    align-self: center;
}

}