/* ------------------------------------------- PANTALLA MOBILE -------------------------------------------- */
#bloqueSobreNosotros {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 5px;
  grid-template-areas: ". bloque1 bloque1" "bloque2 bloque2 ." ". bloque3 bloque3" "bloque4 bloque4 ."; }

#bloqueSobreNosotros__1 {
  grid-area: bloque1;
  text-align: right; }

#bloqueSobreNosotros__2 {
  grid-area: bloque2; }

#bloqueSobreNosotros__3 {
  grid-area: bloque3;
  text-align: right; }

#bloqueSobreNosotros__4 {
  grid-area: bloque4; }

#bloqueSobreNosotros__1, #bloqueSobreNosotros__2, #bloqueSobreNosotros__3, #bloqueSobreNosotros__4 {
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px;
  margin: 10px 0px;
  background-image: radial-gradient(#f2db72 5%, #c7b96d); }
  #bloqueSobreNosotros__1 div, #bloqueSobreNosotros__2 div, #bloqueSobreNosotros__3 div, #bloqueSobreNosotros__4 div {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px; }
  #bloqueSobreNosotros__1 div h3, #bloqueSobreNosotros__2 div h3, #bloqueSobreNosotros__3 div h3, #bloqueSobreNosotros__4 div h3 {
    font-style: italic; }

body {
  background-color: #c7b96d; }

.tituloGeneral {
  font-size: 30px;
  font-style: italic;
  margin: 20px 0px;
  text-align: center; }

/* ------------------------------------------- PANTALLA MOBILE -------------------------------------------- */
/* BARRA NAVEGADORA */
.nav-item {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif; }

.navbar-nav .nav-item .nav-link {
  color: black;
  font-weight: bold; }

/* FOOTER */
footer {
  margin-top: 20px;
  background-color: #edd38ecc;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "copyright redesSociales";
  border: 1px solid black; }

#redesSociales {
  justify-self: right;
  grid-area: redesSociales;
  margin-right: 5px; }

#redesSociales__titular {
  font-size: 20px;
  margin: 0px;
  text-align: right; }

#redesSociales p {
  margin-bottom: 0px; }

#foto-facebook, #foto-instagram {
  width: 30px;
  height: 30px; }

#copyright {
  font-weight: bold;
  grid-area: copyright;
  align-self: end;
  margin-left: 5px; }

/* ------------------------------------------- PANTALLA TABLET ----------------------------------------- */
@media screen and (min-width: 768px) {
  /* BARRA NAVEGADORA */
  .nav-link {
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #E6C55A;
    padding: 10px;
    text-decoration: none;
    border-radius: 12px;
    margin: 2px; }
  .navbar-nav {
    margin-left: 200px; }
  .navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: lighter; } }

/* ------------------------------------------- PANTALLA NOTEBOOK ----------------------------------------- */
@media screen and (min-width: 1024px) {
  /* BARRA NAVEGADORA */
  .nav-link {
    transition: 1s; }
  .nav-link:hover {
    font-size: 20px;
    color: white;
    background-color: #B89D48; }
  .navbar-nav {
    margin-left: 694px; }
  /* FOOTER */
  #redesSociales p a {
    margin-left: 5px; } }

/* ------------------------------------------- PANTALLA MOBILE -------------------------------------------- */
.titular {
  width: 100%;
  border-radius: 20px;
  background-color: #66572866;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10px; }

#titular__titulo {
  font-size: 40px;
  margin: 0px 0px 10px 0px;
  color: #302A13; }

#titular__subtitulo {
  font-size: 20px;
  font-style: italic;
  margin: 10px; }

.bloque__1 {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "parrafo" "imagen" "conocenos";
  grid-row-gap: 20px; }

#bloque__1--parrafo {
  grid-area: parrafo; }
  #bloque__1--parrafo p {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f1f2b680;
    text-align: center; }

#bloque__1--imagen {
  grid-area: imagen;
  justify-self: center; }
  #bloque__1--imagen img {
    border-radius: 20px;
    box-shadow: 10px 10px 20px #948c59; }

#bloque__1--conocenos {
  grid-area: conocenos;
  justify-self: center; }
  #bloque__1--conocenos a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #0b55a3; }

/* ------------------------------------------- PANTALLA NOTEBOOK -------------------------------------------- */
@media screen and (min-width: 1024px) {
  .titular {
    width: 100%; }
  #titular__titulo {
    font-size: 70px; }
  #titular__subtitulo {
    font-size: 30px; }
  .bloque__1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "parrafo imagen" "conocenos imagen"; }
  #bloque__1--parrafo {
    grid-area: parrafo;
    justify-self: center;
    align-self: center; }
    #bloque__1--parrafo p {
      font-weight: bold;
      font-size: 23px;
      padding: 20px;
      border-radius: 20px;
      background-color: #f1f2b680;
      width: 600px;
      text-align: left; }
  #bloque__1--conocenos {
    grid-area: conocenos;
    justify-self: center;
    align-self: center; }
    #bloque__1--conocenos a {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 25px;
      color: white;
      text-decoration: none;
      padding: 10px;
      border-radius: 10px;
      background-color: #0b55a3; }
  #bloque__1--conocenos a:hover {
    background-color: #1788ff; }
  #bloque__1--imagen {
    align-self: center;
    grid-area: imagen; } }

/* ------------------------------------------- PANTALLA MOBILE -------------------------------------------- */
#parallaxSurf, #parallaxSandboard, #parallaxYoga {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://escueladesurfwavessound.com/wp-content/uploads/2017/02/fondo-surf.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px; }

#parallaxSandboard {
  background-image: url("https://fotos.perfil.com/2018/02/01/sandboard-sudamerica-APERTURA.jpg"); }

#parallaxYoga {
  background-image: url("https://fondosmil.com/fondo/78822.jpg"); }

.parallax__conjuntoBloques {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black; }

.parallaxSurf__bloque, .parallaxSandboard__bloque, .parallaxYoga__bloque {
  width: 300px;
  height: 150px;
  border-radius: 25px;
  text-align: center;
  padding: 0px;
  background-color: #ffffff4d;
  transition: 2s; }

.parallaxSurf__bloque:hover, .parallaxSandboard__bloque:hover, .parallaxYoga__bloque:hover {
  background-color: #ffffffd0; }

.parallax__bloque--titular {
  font-size: 14px;
  top: 0px;
  font-weight: 500; }

.parallax__bloque--texto {
  font-size: 12px; }

.parallaxSandboard__bloque {
  background-color: #4a4a4a4d; }

.parallaxSandboard__bloque:hover {
  background-color: #1a1a1a80; }

.palabraParallax {
  margin-top: 130px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: white; }

/* ------------------------------------------- PANTALLA NOTEBOOK ----------------------------------------- */
@media screen and (min-width: 1024px) {
  .parallaxSurf__bloque, .parallaxSandboard__bloque, .parallaxSandboard__bloque, .parallaxYoga__bloque {
    width: 300px;
    height: 150px; }
  .parallax__bloque--titular {
    font-size: 19px;
    margin-top: 0px; }
  .parallax__bloque--texto {
    font-size: 16px;
    margin-top: 25px; } }

/* ------------------------------------------- PANTALLA MOBILE -------------------------------------------- */
#bloqueContacto {
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 15px; }

#formularioContacto {
  background-color: #edd38ecc;
  margin: 10px 0px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 5px;
  border-radius: 20px; }

#boton-enviar {
  width: 100px;
  float: right; }

#mapa {
  width: 300px;
  height: 200px; }

#infoContacto {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  background-color: #e6e6e6cc;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid white;
  justify-self: stretch; }

#foto-telefono, #foto-email, #foto-ubicacion {
  margin-right: 15px; }

#foto-telefono, #foto-ubicacion {
  width: 30px;
  height: 30px; }

#foto-email {
  width: 30px;
  height: 25px; }

.infoContacto__bloque {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px; }

/* ------------------------------------------- PANTALLA TABLET ----------------------------------------- */
@media screen and (min-width: 768px) {
  #bloqueContacto {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "formulario info";
    grid-column-gap: 10px;
    margin-top: 20px; }
  #formularioContacto {
    grid-area: formulario; }
  #infoContacto {
    grid-area: info;
    align-self: start; } }

/* ------------------------------------------- PANTALLA NOTEBOOK ----------------------------------------- */
@media screen and (min-width: 1024px) {
  #bloqueContacto {
    display: flex;
    flex-direction: row; }
  #formularioContacto {
    margin: 10px 0px;
    width: 900px; }
  #infoContacto {
    margin-top: 60px;
    margin-left: 30px;
    width: 50%;
    align-self: start; }
  #mapa {
    width: 500px;
    height: 400px; } }

/* ------------------------------------------- PANTALLA MOBILE -------------------------------------------- */
#nuestrosBungalows {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center; }

#petFriendly {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: black;
  border-radius: 15px;
  border: 1px solid #fcd89a;
  padding-top: 10px;
  background-color: #d1a456;
  animation-name: titilaRojo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center; }

@keyframes titilaRojo {
  50% {
    color: red; }
  50% {
    border-color: red; } }

.titularBungalow {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px; }

.bloqueBungalow {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: "info" "carousel";
  justify-items: center;
  grid-row-gap: 10px; }

.bloqueBungalow__info {
  border: 1px solid black;
  background-color: #f1f2b680;
  border-radius: 20px;
  width: 90%;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
  box-sizing: border-box;
  grid-area: info;
  justify-self: center; }

.carousel {
  grid-area: carousel; }

.bloqueBungalow__imagen1 img, .bloqueBungalow__imagen2 img, .bloqueBungalow__imagen3 img {
  width: 250px;
  height: 150px; }

#quieroReservar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 25px; }
  #quieroReservar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    background-color: #0b55a3; }

#quieroReservar a:hover {
  background-color: #1788ff; }

/* ------------------------------------------- PANTALLA TABLET ----------------------------------------- */
@media screen and (min-width: 768px) {
  .bloqueBungalow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: ". info ." "carousel carousel carousel"; }
  .carousel-item img {
    width: 500px;
    height: 400px; } }

/* ------------------------------------------- PANTALLA NOTEBOOK ----------------------------------------- */
@media screen and (min-width: 1024px) {
  .titularBungalow {
    text-align: left; }
  #cabanas__encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .bloqueBungalow {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "info carousel carousel carousel";
    grid-column-gap: 30px; }
  .carousel-item img {
    width: 500px;
    height: 400px; }
  .bloqueBungalow__info {
    align-self: center; } }
