                                        /* SOBRE NOSOTROS */

#sobreNosotrosTitulo {
  font-size: 30px;
  font-style: italic;
  margin: 20px 0px;
  text-align: center; }

#bloqueSobreNosotros__1, #bloqueSobreNosotros__2, #bloqueSobreNosotros__3, #bloqueSobreNosotros__4 {
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px;
  margin: 10px 0px;
  background-image: radial-gradient(#f2db72 5%, #c7b96d); }

#bloqueSobreNosotros__1 div h3, #bloqueSobreNosotros__2 div h3, #bloqueSobreNosotros__3 div h3, #bloqueSobreNosotros__4 div h3 {
    font-style: italic; }
